asgiref==3.7.2
colorama==0.4.6
Django==4.2.5
django-cors-headers==4.0.0
django-jazzmin==2.6.0
django-timedeltafield==0.7.10
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
drf-yasg==1.21.7
fpdf==1.7.2
inflection==0.5.1
packaging==23.2
PyJWT==2.8.0
pypng==0.20220715.0
pytz==2023.3.post1
PyYAML==6.0.1
qrcode==7.4.2
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
uritemplate==4.1.1
  